<!DOCTYPE html>
<html>
<head>
	<title>View All food</title>
</head>
<body>
<center>
	<h1>All food</h1>
	<form>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Restaurant</th>
				<th>Location</th>
				<th>Action</th>
			</tr>
			<% for(var i=0; i <details.length;i++) {%>
			<tr>
				<td><%=details[i].f_id%></td>
				<td><%=details[i].fname%></td>
				<td><%=details[i].type%></td>
				<td><%=details[i].RN%></td>
				<td><%=details[i].location%></td>
				<td><a href="/deleteFood/<%=details[i].f_id%>">Delete</a> <a href="/editFood/<%=details[i].f_id%>"> Edit</a></td>
			</tr>
			<%}%>
		</table>
	</form>
	<a href="/adminHome">back</a>
</center>
</body>
</html>