<!DOCTYPE html>
<html>
<head>
	<title>All Restautant</title>
</head>
<body>

<center>
	<h1>All Restautant</h1>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Location</th>
			<th>Short Details</th>
			<th>Action</th>
		</tr>
		<% for(var i=0; i < details.length; i++){ %>
		<tr>
			<td><%=details[i].r_id%></td>
			<td><%=details[i].name%></td>
			<td><%=details[i].location%></td>
			<td><%=details[i].shortBack%></td>
			<td><a href="editRestau/<%=details[i].r_id%>">Edit</a> <a href="deleteRestau/<%=details[i].r_id%>">Delete</a></td>
		</tr>
		<%}%>
	</table>
	<a href="/adminHome">Back</a>
</center>
</body>
</html>